body {
  margin: 0;
  color: #fff;
  background-color: #000;
  padding: 0;
}

/* Background */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(400px);
}

.gradient {
  position: fixed;
  border-radius: 100%;
  opacity: 0.2;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1 {
  background: rgb(241, 22, 137);
  width: 100%;
  height: 700px;
  animation-duration: 25s;
  opacity: 0.2;
  left: 60%;
  top: 40%;
  z-index: -2;
  animation-name: animation-gradient-1;
}
.gradient-2 {
  background: rgb(223, 62, 223);
  width: 100%;
  height: 600px;
  animation-duration: 25s;
  opacity: 0.24;
  left: 40%;
  top: 60%;
  z-index: -3;
  animation-name: animation-gradient-2;
}
.gradient-3 {
  background: rgb(105, 78, 202);
  width: 100%;
  height: 500px;
  animation-duration: 25s;
  opacity: 0.4;
  left: 50%;
  top: 50%;
  z-index: -1;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-90%) translateX(-90%) rotate(-20deg) translateX(10%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-90%) translateX(-90%) rotate(-20deg) translateX(10%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(90%) translateX(-50%) rotate(40deg) translateX(-10%);
  }
  25% {
    transform: translateY(50%) translateX(50%) skew(15deg, 15deg) rotate(110deg)
      translateX(-5%);
  }
  50% {
    transform: translateY(100%) translateX(100%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(50%) translateX(50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(90%) translateX(-50%) rotate(400deg) translateX(-10%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}

/* Header */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 98vw;
  height: 10px;
  align-items: start;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.192);

  &#scroll {
    position: relative;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  height: 60px;
  padding: 10px 30px;
  z-index: -99;
  gap: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.192);
}

.empty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  height: 70px;
  margin-top: 10px;
}

.empty2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0.1;
  width: 100%;
  height: 70px;
  margin-top: 10px;
}

svg.corner {
  width: 20px;
  height: 20px;

  & .cls-1,
  & .cls-2 {
    fill: #fff;
    height: 20px;
  }
}

.toggle {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  height: 80px;
  padding: 0 40px;
  z-index: -99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.192);
}

nav.norm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  height: 80px;
  padding: 0 40px;
  z-index: -99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.192);
}

nav.norm ul {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.norm ul li {
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  gap: 20px;

  & a {
    text-decoration: none;
    color: #000;
  }
}

nav.norm ul li:hover {
  color: #fff;

  & a {
    text-decoration: none;
    color: #2954a3;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  height: 80px;
  padding: 0 20px;
  z-index: -99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.192);

  & img {
    cursor: pointer;
    width: 25px;
  }
}

nav.dropdown {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  height: auto;
  width: 100svw;
  padding: 100px 0 40px 0;
  z-index: 998;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.192);

  .close {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 999;
    cursor: pointer;
    color: #000;
    font-size: 2.6rem;
    font-weight: bold;
  }

  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
  }

  & ul li {
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & a {
      text-decoration: none;
      color: #000;
    }
  }
}

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 90vw;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
  margin: 100px auto 0;

  & h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }

  & p {
    width: 80%;
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  & a {
    display: inline-block;
    padding: 15px 25px;
    background-color: #fff;
    border: #fff solid 2px;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
  }

  & a:hover {
    background-color: #0000006c;
    color: #fff;
  }
}

section#about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 90vw;
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
  margin: 100px auto;
  border-radius: 20px;

  & .about {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px;

    & h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    & p {
      width: 100%;
      font-size: 1.4rem;
    }
  }

  & .hero-image {
    display: flex;
    flex: 0.5;
    align-items: end;
    overflow: hidden;
    justify-content: center;
    height: 100%;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 600px;
  gap: 90px;
  overflow: hidden;
  overflow-x: hidden;
  width: 90vw;
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }

  & .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: auto;
    aspect-ratio: 1/1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    margin: 100px auto 0;
    border-radius: 20px;
    animation: onScroll 120s linear infinite;

    & h3 {
      font-size: 1.4rem;
      margin-bottom: 10px;
      text-align: center;
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        max-width: 80%;
        height: 20px;
        filter: brightness(0);
      }
    }

    & p {
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

@keyframes onScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-512%);
  }
}

.card:nth-child(1),
.card:nth-child(5) {
  background-color: #01a6db;
  top: 50px;
}

.card:nth-child(2),
.card:nth-child(6) {
  background-color: #ee3a3b;
  top: -90px;
}

.card:nth-child(3),
.card:nth-child(7) {
  background-color: #aeca63;
  top: 170px;
}

.card:nth-child(4),
.card:nth-child(8) {
  background-color: #fd801a;
  top: -30px;
}

#about,
#what-we-do,
#contact {
  display: block;
}

section.team {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: auto;
  width: 80vw;
  height: 72vh;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin: 0 auto;
  gap: 40px;

  & h1 {
    font-size: 1rem;
    font-weight: lighter;
    text-align: left;
    color: #fff;
    width: 100%;
  }

  & div#images {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;

    & .people {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      height: 100%;

      & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100%;

        & img {
          width: 100%;
          height: 100%;
          max-height: 500px;
          object-fit: cover;
          background-color: #fff;
          border-radius: 20px 20px 0 20px;
        }
      }

      & .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        overflow: scroll;
        position: relative;
        height: 72vh;

        & .itemlist {
          display: flex;
          flex-direction: column;
          align-items: center;
          animation: vertscroll 35s linear infinite;
          gap: 20px;
          width: 100%;
          height: 100%;

          & img {
            width: auto;
            height: auto;
            max-width: 100px;
            background-color: #fff;
            border-radius: 20px 0 0 20px;
          }
        }
      }
    }
  }

  & div#text {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    width: 60%;
    height: 100%;
    border-radius: 20px 20px 20px 0;

    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }

    & h4 {
      font-size: 1.4rem;
    }

    & p {
      width: 100%;
      font-size: 1.4rem;
    }
  }
}

@keyframes vertscroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-330%);
  }
}

.current {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section.team div#text div.current {
  display: flex;
}

section.team div#text div {
  display: none;
}

.wwd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 90vw;
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin: 100px auto;
  border-radius: 20px;

  & h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 10px;
    width: 90%;

    & .text {
      display: flex;
      flex-direction: column;
      width: 50%;

      & p {
        width: 100%;
        font-size: 1.4rem;
        margin-bottom: 20px;
      }

      & ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 20px;
        padding-left: 20px;
        gap: 10px;
      }
    }

    & .image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      & img {
        width: 70%;
      }
    }

    & span.video {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      & h2 {
        font-size: 1.8rem;
        margin-bottom: 30px;
      }

      & div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        & div {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;

          & video {
            width: 100%;
          }
        }

        & span {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 30px;

          & div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & video {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    & img {
      width: auto;
      height: 300px;
      animation: position 60s linear infinite;
      position: relative;
    }
  }
}

@keyframes position {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 90vw;
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin: 100px auto 30px;
  border-radius: 20px;

  & .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 20px;

    & h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      text-align: left;
    }

    & p {
      width: 100%;
      font-size: 1.4rem;
      margin-bottom: 20px;
      text-align: left;
    }

    & a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
        color: #2954a3;
      }
    }

    & #target {
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 10px;
      margin-bottom: 20px;

      & span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;

        & strong {
          font-size: 1.2rem;
          flex: 0.2;
        }

        & p {
          flex: 0.8;
          margin: 0;
        }
      }
    }
  }

  & .contact-map {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 400px;

    & div {
      display: flex;
      width: 90%;
      height: 100%;
      align-items: end;

      & iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

.WhatsApp {
  display: flex;
  margin-left: 10px;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      height: 50px;
    }

    & img.icon {
      display: block;
    }

    & img.hover {
      display: none;
    }

    &:hover {
      & img.icon {
        display: none;
      }

      & img.hover {
        display: block;
      }
    }
  }
}

/*fede*/

#our-people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  overflow: scroll;
  height: auto;
  justify-content: start;
  margin: 100px auto;

  & h1 {
    font-size: 2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
  }

  & span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    & img {
      width: auto;
      height: 30px;
      margin-bottom: 50px;
    }
  }
}

#our-people iframe {
  width: 100%;
  height: 100%;
  min-height: 600px;
  border-radius: 10px;
}

.grid {
  margin: 0 auto;
  width: 90%;
  column-count: 4;
  column-gap: 40px;
}

.grid-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px #0000002f;
  break-inside: avoid;
}

.grid-item img,
.grid-item video {
  width: 100%;
  border-radius: 6px;
  display: block;
}

/* Hands */

svg#buyers {
  overflow: visible;
  width: 65%;
  height: auto;
  transform: translate(0%, 0%) scale(0.7);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

svg#active {
  overflow: visible;
  width: 65%;
  height: auto;
  transform: translate(var(--x), var(--y)) scale(1);
  opacity: 1;
}

g.buyers .cls-1 {
  fill: #010101;
}

g.buyers .cls-2 {
  fill: #fb2396;
}

g.buyers .cls-3 {
  fill: #4d4d4d;
}

g.buyers .cls-4 {
  fill: #01a6db;
}

g.buyers .cls-5 {
  fill: #e0e0e0;
}

g.buyers .cls-6 {
  fill: #ffbfb4;
}

g.buyers .cls-7 {
  opacity: 0.2;
}

g.buyers .cls-7,
g.buyers .cls-8,
g.buyers .cls-9 {
  fill: #333;
}

g.buyers .cls-10 {
  fill: #f2f2f2;
}

g.buyers .cls-11 {
  fill: #666;
}

g.buyers .cls-12 {
  fill: #fd801a;
}

g.buyers .cls-13 {
  fill: #2952a4;
}

g.buyers .cls-14 {
  fill: #ebebeb;
}

g.buyers .cls-15 {
  fill: #ee3a3b;
}

g.buyers .cls-16 {
  fill: #f3cf17;
}

g.buyers .cls-17 {
  fill: #b3b3b3;
}

g.buyers .cls-18 {
  fill: #aeca63;
}

g.buyers .cls-19 {
  fill: #f5f5f5;
}

g.buyers .cls-9 {
  opacity: 0.3;
}

g.buyers .cls-20 {
  fill: #dfa844;
}

@keyframes handshake {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Apply to hands */
#Hands {
  animation: handshake 4s ease-in-out infinite;
}

g.sellers .cls-1 {
  fill: url(#linear-gradient-15);
}

g.sellers .cls-2 {
  fill: url(#linear-gradient-13);
}

g.sellers .cls-3 {
  fill: url(#linear-gradient-28);
}

g.sellers .cls-4 {
  fill: #010101;
}

g.sellers .cls-5 {
  fill: url(#linear-gradient-2);
}

g.sellers .cls-6 {
  fill: url(#linear-gradient-25);
}

g.sellers .cls-7 {
  fill: url(#linear-gradient-10);
}

g.sellers .cls-8 {
  fill: url(#linear-gradient-12);
}

g.sellers .cls-9 {
  fill: url(#linear-gradient-27);
}

g.sellers .cls-10 {
  fill: #545454;
}

g.sellers .cls-11 {
  fill: #131313;
  opacity: 0.3;
}

g.sellers .cls-12 {
  fill: #fb2396;
}

g.sellers .cls-13 {
  fill: #01a6db;
}

g.sellers .cls-14 {
  fill: url(#linear-gradient-26);
}

g.sellers .cls-15 {
  fill: url(#linear-gradient-4);
}

g.sellers .cls-16 {
  fill: url(#linear-gradient-30);
}

g.sellers .cls-17 {
  fill: #ffbfb4;
}

g.sellers .cls-18 {
  fill: url(#linear-gradient-3);
}

g.sellers .cls-19 {
  fill: url(#linear-gradient-5);
}

g.sellers .cls-20 {
  fill: url(#linear-gradient-22);
}

g.sellers .cls-21 {
  fill: url(#linear-gradient-24);
}

g.sellers .cls-22 {
  fill: #424242;
}

g.sellers .cls-23 {
  fill: #1f1f1f;
}

g.sellers .cls-24 {
  fill: #b0b0b0;
}

g.sellers .cls-25 {
  fill: url(#linear-gradient-33);
}

g.sellers .cls-26 {
  fill: url(#linear-gradient-8);
}

g.sellers .cls-27 {
  fill: url(#linear-gradient-14);
}

g.sellers .cls-28 {
  fill: url(#linear-gradient-29);
}

g.sellers .cls-29 {
  fill: url(#linear-gradient-20);
}

g.sellers .cls-30 {
  fill: #fd801a;
}

g.sellers .cls-31 {
  fill: url(#linear-gradient-17);
}

g.sellers .cls-32 {
  fill: url(#linear-gradient-7);
}

g.sellers .cls-33 {
  fill: url(#linear-gradient-9);
}

g.sellers .cls-34 {
  fill: #2952a4;
}

g.sellers .cls-35 {
  fill: url(#linear-gradient-11);
}

g.sellers .cls-36 {
  fill: url(#linear-gradient-19);
}

g.sellers .cls-37 {
  fill: url(#linear-gradient-6);
}

g.sellers .cls-38 {
  fill: #ee3a3b;
}

g.sellers .cls-39 {
  fill: #f3cf17;
}

g.sellers .cls-40 {
  fill: #aeca63;
}

g.sellers .cls-41 {
  fill: url(#linear-gradient-21);
}

g.sellers .cls-42 {
  fill: #7a7a7a;
}

g.sellers .cls-43 {
  fill: url(#linear-gradient-32);
}

g.sellers .cls-44 {
  fill: url(#linear-gradient-16);
}

g.sellers .cls-45 {
  fill: url(#linear-gradient);
}

g.sellers .cls-46 {
  fill: url(#linear-gradient-23);
}

g.sellers .cls-47 {
  fill: url(#linear-gradient-31);
}

g.sellers .cls-48 {
  fill: #dfa844;
}

g.sellers .cls-49 {
  fill: #2e2e2e;
}

g.sellers .cls-50 {
  fill: url(#linear-gradient-18);
}

#linear-gradient-30 {
  filter: blur(100px);
}

span#about svg {
  display: flex;
  padding: 0;
  margin: 0 0 -11px 0;
  align-items: end;
}

@keyframes rotateAround {
  0% {
    transform: rotate(0deg) translate(12px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(12px) rotate(-360deg);
  }
}

#square-animation rect,
#square-animation path {
  transform-origin: center;
  animation: rotateAround 10s linear infinite;
}

#square-animation rect:nth-child(odd) {
  animation-delay: 1s;
}

#square-animation path:nth-child(even) {
  animation-delay: 2s;
}

#square-animation path:nth-child(odd) {
  animation-delay: 3s;
}

#square-animation rect:nth-child(even) {
  animation-delay: 4s;
}

/*MEDIA QUERIES*/
@media (max-width: 1024px) {
  section#about-us {
    height: 60vh;
    & .hero-image {
      & img {
        height: 70%;
      }
    }
  }

  section.team {
    & div#images {
      width: 60%;

      & .people {
        & .container {
          & img {
            max-height: 100%;
          }
        }
      }
    }

    & div#text {
      width: 40%;
    }
  }
}

@media (max-width: 768px) {
  header {
    width: 100svw;
  }

  .toggle {
    display: flex;
  }

  nav.norm {
    display: none;
  }

  main {
    width: 95svw;
    margin: 0 auto;
    padding: 0;
  }

  section.hero {
    width: 80svw;
  }

  section#about-us {
    height: auto;
    width: 80svw;
    flex-direction: column;

    & .hero-image {
      width: 100%;
      height: auto;

      & img {
        width: 70%;
        height: auto;
      }
    }
  }

  .card-container {
    & .card {
      animation: onScroll 240s linear infinite;
    }
  }

  .wwd {
    width: 80svw;

    & div {
      flex-direction: column;

      &.buyers {
        flex-direction: column-reverse;
      }

      & .text {
        width: 100%;
      }

      & .image {
        width: 100%;
      }
    }
  }

  .media {
    width: 95svw;
  }

  #contact-us {
    width: 80svw;
    flex-direction: column;

    & .contact {
      width: 100%;
    }

    & .contact-map {
      width: 100%;
    }
  }

  .grid {
    column-count: 2;
  }

  .wwd {
    & div {
      & span.video {
        & div {
          & div {
            width: 100%;
          }
          & span {
            flex-direction: column;
          }
        }
      }
    }
  }

  section.hero {
    & p {
      width: 100%;
    }
  }

  #contact-us {
    & .contact-map {
      width: 100%;

      & div {
        width: 100%;
      }
    }
  }

  #contact-us {
    & .contact {
      & #target {
        & span {
          & strong {
            font-size: 1.2rem;
            flex: 0.3;
          }
          & p {
            flex: 0.7;
          }
        }
      }
    }
  }

  section.team {
    width: 80svw;
    flex-direction: column;
    height: auto;

    & div#images {
      width: 100%;

      & .people {
        & .items {
          height: 50svh;
        }
      }
    }

    & div#text {
      width: 100%;
      border-radius: 20px 0 20px 20px;
    }
  }
}
